APP_NAME=Ticketing Monolith
ENVIRONMENT=development
DATABASE_URL=postgresql+psycopg://linkpull:CHANGE_ME@10.35.32.3:5432/ticketing_db?sslmode=require
JWT_SECRET_KEY=CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
